# You *must* generate this before first run,
#    $ python -c 'import secrets; print(secrets.token_urlsafe(40))'
SECRET_KEY=

DEBUG=1
DEBUG_VERBOSE_REQUESTS=0

DOMAIN_NAME=example.com
CERTBOT_EMAIL=user@example.com

#TZ=US/Eastern

TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXC
TWILIO_BROADCAST_NUMBER=+15551234567
#TWILIO_OUTGOING_NUMBER=+15551234567
TWILIO_QUEUE_NAME=my-example-queue
#TWILIO_QUEUE_MAX_SIZE=15
TWILIO_SIP_DOMAIN=example.sip.twilio.com
# TWILIO_SIP_BROADCAST_USER=broadcast
# TWILIO_SIP_OUTGOING_USER=outgoing
